<div class="row">
    <div class="col-3">
          <div class="sticky-top">
              <div class="list-group">
                  <a 
                  class="list-group-item list-group-item-action" [class.active]='!selectedCategory' routerLink='/'>
                    All Categories
                  </a>
                  <a 
                  *ngFor='let category of categories'
                  routerLink='/'
                  [queryParams]='{category: category.payload.key}'
                  class="list-group-item list-group-item-action"  
                  [class.active]='selectedCategory === category.payload.key'>
                    {{category.payload.val().name}}
                  </a>
              </div>
          </div>
      </div>
     <div class="col">
          <div class="row">
              <ng-container *ngFor="let product of filteredProducts; index as i">

                <div class="col">
                  <product-card [product]='product' [shopping-cart]="cart"></product-card>
                </div>
                 <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>

              </ng-container>
          </div>
    </div>
</div>


